<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Examen2Conexion"
         connectionString="Data Source=LUIS-DOMINGUEZ\SQLEXPRESS;Initial Catalog=Examen2; Integrated Security=true; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    </configuration>